body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #service-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .input-data{
    padding: 15px;
    background-color: tomato;
  }
  .btn{
    background-color: black;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px ;
    border: none;
    
  }
  .bg{
    padding: 20px;
    background-color: lightblue ;
  }
  .form-data{
    padding: 20px;
  }
  #service-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  #service-list li:last-child {
    border-bottom: none;
  }
  
  button {
    margin-left: 10px;
  }